/* ====================Variables========================== */
:root {
  --text-white: white;
  --text-black: black;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

a {
  cursor: pointer;
  color: var(--main-black);
}

.App {
  text-align: center;
  min-height: 100vh;
}

/* Small devices like small phones */

@media screen and (max-width: 600px) {
  .App {
    min-width: 100vmax;
  }
}

/* Medium devices like tables */

@media screen and (max-width: 855px) {
}
